{% extends 'base.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block slider%}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}
    <div class="container">   
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card-panel z-depth-4">
                    <div class="center"><i class="material-icons content-icons" style="color:green;">android</i></div>
                    <span class="grey-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card-panel z-depth-4">
                    <div class="center"><i class="material-icons content-icons" style="color:grey;">thumb_up</i></div>
                    <span class="grey-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card-panel z-depth-4">
                    <div class="center"><i class="material-icons content-icons" style="color:firebrick;">flash_on</i></div>
                    <span class="grey-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
        </div>          
    </div>            
{% endblock %}