{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Sitios
{% endblock %}

{% block content %}
    <div style="margin-bottom:2em;">
        <h2 class="grey-text center">Sitios turísticos</h2>        
        <div class="row">
            {% if object_list %}
                {% for sitio in object_list %}
                <div class="col s12 m6 l4">                
                    <div class="card z-depth-4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/media/{{sitio.imagen}}" height="300px">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ sitio.nombre }}<i class="material-icons right">more_vert</i></span>
                            <p><a href="{% url 'detalle' sitio.id %}">Ver más</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ sitio.nombre }}<i class="material-icons right">close</i></span>
                            <p align="justify">{{ sitio.descripcion }}</p>
                        </div>
                    </div>            
                </div>
                {% endfor %}
            {% else %}
                <h3 class="grey-text center">No hay sitios!!!</h3>
            {% endif %}

            <!--div class="col s12 m4 l4">                
                <div class="card z-depth-4">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/paisaje.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>            
            </div>

            <div class="col s12 m4 l4">                
                <div class="card z-depth-4">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/paisaje.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>            
            </div>

            <div class="col s12 m4 l4">                
                <div class="card z-depth-4">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'img/paisaje.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>            
            </div-->
        </div>             
    </div>

    <div class="container">
        <ul class="pagination center">
            <li class="waves-effect waves-light btn-flat">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number}}"><i class="material-icons left">chevron_left</i>Anterior</a>
                 {% endif %}   
            </li>
            <li class="waves-effect waves-light btn-flat">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number}}"><i class="material-icons right">chevron_right</i>Próximo</a>
                {% endif %} 
            </li>
        </ul>
    </div>

{% endblock %}