<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
                <h3>Guía turística</h3>
                <h5 class="light grey-text text-lighten-3">Los mejores lugares para conocer en Colombia...</h5>
            </div>
        </li>
        <li>
            <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
                <h3>Gente y cultura</h3>
                <h5 class="light grey-text text-lighten-3">Amabilidad y hospitalidad del pueblo colombiano...</h5>
            </div>
        </li>
        <li>
            <img src="https://lorempixel.com/580/250/nature/3"> 
            <div class="caption right-align">
                <h3>Gastronomía</h3>
                <h5 class="light grey-text text-lighten-3">Deleitate con sus deliciosos manjares...</h5>
            </div>
        </li>
        <!--li>
            <img src="https://lorempixel.com/580/250/nature/4">
            <div class="caption center-align">
                <h3>Cultura</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li-->      
    </ul>
</div>